:root {
    --color-primary: #00ABB3;
    --color-secondary: #ffa500;
    --color-tertiary: #003365;
    --color-dark: #2d2c2e;
    --color-light: #f1f1f1;
    --color-grey: #989898;
    --color-warn: #ff0000;
    --color-success: #008000;
}

// Colors

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.light {
    color: var(--color-light);
}

.dark {
    color: var(--color-dark);
}

.grey {
    color: var(--color-grey);
}

.warn {
    color: var(--color-warn);
}

.success {
    color: var(--color-success);
}

.tertiary {
    color: var(--color-tertiary);
}

// Background Colors

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-grey {
    background-color: var(--color-grey);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}