<div class="navbar">
  <!-- <div class="navbar-brand"> -->
      <!-- <img src="/assets/iconlogo.png" alt="Farming Inventory Management" width="50px"> -->
  <!-- </div> -->


  <div class="navbar-group">
    <div class="navbar-link" *ngIf="userData.isAdmin == 0">
        <a routerLink="/main/modules/{{moduleId}}/{{lessonId}}">Modules</a>
    </div>
    <div class="navbar-link">
        <a routerLink="/main/elibrary">E-Library</a>
    </div>
    <div class="navbar-link" *ngIf="userData.isAdmin == 0">
        <a routerLink="/main/aboutus">About Us</a>
    </div>
    <div class="navbar-link" *ngIf="userData.isAdmin == 1">
        <a routerLink="/main/students">Students</a>
    </div>
    <div class="navbar-link">
      <a routerLink="/main/projsharp" >Project-SHARP</a>
    </div>
  </div>
  <div class="logout">
    <span>Hello, {{ userData.studfname_fld }}!</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
  
<div class="container">
  <router-outlet></router-outlet>
</div>